* {
    font-family: 'Montserrat', sans-serif; 
}

.container {
    margin: 80px auto 0 auto;
    max-width: 1200px;
}

.nav-container {
    margin: auto;
}


.card-media {
    width: 150px;
    display: flex;
    justify-content: center;
}

.loader {
    margin-left: 45%;
}
